<!--Definindo o Container-->
<div class="container bg-light p-4">
  <div class="row">
    <div class="col-7 m-auto">
      <h1 class="text-center">Cadastro de Cursos</h1>
      <!--Formulário-->
      <form [formGroup]="formGroupCourse">
        <!--Adicionando o Input(Nome do Curso)-->
        <div class="mb-3">
          <label for="InputName" class="form-label">Curso</label>
          <input formControlName="name" class="form-control" id="InputName" aria-describedby="nameHelp">
          <div id="nameHelp" class="form-text">Digite o nome do curso</div>
        </div>
        <!--Adicionando o Input(Mensalidade)-->
        <div class="mb-3">
            <label for="InputPrice" class="form-label">Mensalidade</label>
            <input formControlName="price" type="number" class="form-control" id="InputPrice" aria-describedby="priceHelp">
            <div id="priceHelp" class="form-text">Digite a mensalidade do Curso</div>
        </div>

        <div class="d-flex align-items-center">
          <!--Adicionando o Input(Situação)-->
          <div class="mb-3 me-4">
            <p>Situação do Curso</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="active" id="radioDefault1" [value]="true">
              <label class="form-check-label" for="radioDefault1">Ativo</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="active" id="radioDefault2" [value]="false">
              <label class="form-check-label" for="radioDefault2">Bloqueado</label>
            </div>
          </div>
          <!--Adicionando o Input(Valor Promocional)-->
          <div class="mb-3 me-4">
            <p>Condições de Pagamento</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="promotion" id="promotion" checked>
              <label class="form-check-label" for="promotion">Valor Promocional?</label>
            </div> 
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
      </form>

      <!--Adicionando uma Tabela-->
      <h2 class="text-center">Cursos Cadastrados</h2>
      <table class="table table-striped">
        <thead> 
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Curso</th>
            <th scope="col">Mensalidade(R$)</th>
            <th scope="col">Situação do Curso</th>
            <th scope ="col">Valor Promocional?</th>
            <th scope="col">Remover</th>
            <th scope="col">Atualizar</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let c of courses">
            <th scope="row">{{c.id}}</th>
            <td>{{c.name}}</td>
            <td>{{c.price}}</td>
            <td>{{c.active ? 'Ativo' : 'Bloqueado'}}</td>
            <td>{{c.promotion ? 'Sim' : 'Não'}}</td>
            <td><button class="btn btn-danger">Remover</button></td>
            <td><button class="btn btn-primary">Atualizar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>